<!-- file: views/albums.erb -->

<html>
  <head></head>
  <body>
    <h1> <%= @album.title %> </h1>
    <p>
      release_year: <%= @album.release_year %> 
      artist: <%= @artist_name.name %> 
    </p>
  </body>
</html>