<!-- file: views/new_artists.erb -->

<html>
  <head></head>
  <body>
    <form action="/artists" method="POST">
    <input type="text" name="name">
    <input type="text" name="genre">

    <input type="submit" value="Submit the form">
    </form>
  </body>
</html>
